<div class="w-full bg-white" style="min-width: 400px;">

  <div *ngIf="step !== 'order-confirm'" class="px-6 py-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mt-2">
        <mat-form-field>
          <mat-label>Security</mat-label>
          <mat-select required formControlName="symbol">
            <mat-option *ngFor="let item of securities" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Period</mat-label>
          <mat-select required formControlName="repoPeriod">
            <mat-option *ngFor="let item of periods" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Side</mat-label>
          <mat-select required formControlName="side">
            <mat-option *ngFor="let item of sides" [value]="item.value">{{item.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Order Type</mat-label>
          <mat-select required formControlName="ordType">
            <mat-option *ngFor="let item of types" [value]="item.value">{{item.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="isTypeMarket">
        <mat-form-field>
          <mat-label>Time In Force</mat-label>
          <mat-select required formControlName="timeInForce">
            <mat-option *ngFor="let item of timeInForces" [value]="item.value">{{item.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="isTypeLimit">
        <mat-form-field>
          <mat-label>Rate</mat-label>
          <input matInput formControlName="repoRate" type="number" min="0">
        </mat-form-field>
      </div>

      <div *ngIf="!form.get('repoQuantity').value">
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput formControlName="repoAmount" type="number" min="0">
        </mat-form-field>
      </div>

      <div *ngIf="isSideSell && !form.get('repoAmount').value">
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="repoQuantity" type="number" min="0">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Investor</mat-label>
          <input matInput formControlName="investor">
        </mat-form-field>
      </div>

      <mat-error *ngIf="error" class="mb-2">{{ error }}</mat-error>

      <button color="primary" mat-raised-button type="submit" [disabled]="loading" [class.spinner]="loading">SEND</button>
    </form>
  </div>

  <app-order-confirm
    *ngIf="step === 'order-confirm'"
    [orderConfirm]="orderConfirm"
    (setStep)="setStep($event)"
    (resetParentForm)="resetParentForm()"
    [offeredWaitingTime]="offeredWaitingTime"
  ></app-order-confirm>
</div>
