<div class="bg-white">
  <div *ngIf="isSearchShown" class="mt-4" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field class="ml-6">
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl">
    </mat-form-field>

    <mat-form-field class="ml-2">
      <mat-label>Search By</mat-label>
      <mat-select [formControl]="searchByControl">
        <mat-option *ngFor="let item of tableColumns" [value]="item.value">{{item.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
