<div class="my-2 mx-5">
  <button color="primary" mat-raised-button type="button" (click)="setState.emit('market-view')">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="font-bold py-2 px-5 inline-block">ORDER DEPTH FOR MARKET: {{ security }} {{ period }}</div>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="buyerQty">
    <th mat-header-cell *matHeaderCellDef class="bg-lime-500">Quantity To Lend</th>
    <td mat-cell *matCellDef="let item"> {{item.buyerQty}} </td>
  </ng-container>

  <ng-container matColumnDef="buyerAmount">
    <th mat-header-cell *matHeaderCellDef class="bg-lime-500">Amount To Lend</th>
    <td mat-cell *matCellDef="let item"> {{item.buyerAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="buyerRate">
    <th mat-header-cell *matHeaderCellDef class="bg-lime-500">Lender Repo Rate</th>
    <td mat-cell *matCellDef="let item"> {{item.buyerRate}} </td>
  </ng-container>

  <ng-container matColumnDef="sellerRate">
    <th mat-header-cell *matHeaderCellDef class="bg-yellow-300">Borrower Repo Rate</th>
    <td mat-cell *matCellDef="let item"> {{item.sellerRate}} </td>
  </ng-container>

  <ng-container matColumnDef="sellerAmount">
    <th mat-header-cell *matHeaderCellDef class="bg-yellow-300">Amount To Borrow</th>
    <td mat-cell *matCellDef="let item"> {{item.sellerAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="sellerQty">
    <th mat-header-cell *matHeaderCellDef class="bg-yellow-300">Quantity To Borrow</th>
    <td mat-cell *matCellDef="let item"> {{item.sellerQty}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="dataSource && dataSource.length === 0" class="bg-white w-full">
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">
    <div class="m-2 text-center">No Order Depth found</div>
  </div>
</div>

