<div class="w-full" style="min-width: 2200px;">

  <app-search-table [tableColumns]="tableColumns"
                    [initData]="initData"
                    (setFilteredData)="setFilteredData($event)"
                    [isSearchShown]="isSearchShown"
  ></app-search-table>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="transactTime">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let item">{{ item.transactTime }}</td>
    </ng-container>

    <ng-container matColumnDef="clOrdId">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Client Order Id</th>
      <td mat-cell *matCellDef="let item">{{item.clOrdId}}</td>
    </ng-container>

    <ng-container matColumnDef="orderId">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Order Id</th>
      <td mat-cell *matCellDef="let item">{{item.orderId}}</td>
    </ng-container>

    <ng-container matColumnDef="side">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Side</th>
      <td mat-cell *matCellDef="let item">{{item.side}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let item">{{item.status}}</td>
    </ng-container>

    <ng-container matColumnDef="security">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Security</th>
      <td mat-cell *matCellDef="let item">{{item.security}}</td>
    </ng-container>

    <ng-container matColumnDef="period">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Period</th>
      <td mat-cell *matCellDef="let item">{{item.period}}</td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Repo Rate</th>
      <td mat-cell *matCellDef="let item">{{item.rate}}%</td>
    </ng-container>

    <ng-container matColumnDef="autoQty">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Auto Quantity</th>
      <td mat-cell *matCellDef="let item">{{item.autoQty}}</td>
    </ng-container>

    <ng-container matColumnDef="autoAmount">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Auto Amount</th>
      <td mat-cell *matCellDef="let item">{{item.autoAmount}}</td>
    </ng-container>

    <ng-container matColumnDef="repurchaseDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Repurchase Date</th>
      <td mat-cell *matCellDef="let item">{{item.repurchaseDate }}</td>
    </ng-container>

    <ng-container matColumnDef="repurchaseAmount">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Repurchase Amount</th>
      <td mat-cell *matCellDef="let item">{{item.repurchaseAmount}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Order Type</th>
      <td mat-cell *matCellDef="let item">{{item.type}}</td>
    </ng-container>

    <ng-container matColumnDef="subType">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Time In Force</th>
      <td mat-cell *matCellDef="let item">{{item.subType}}</td>
    </ng-container>

    <ng-container matColumnDef="investor">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Investor</th>
      <td mat-cell *matCellDef="let item">{{item.investor}}</td>
    </ng-container>

    <ng-container matColumnDef="partialQty">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Partial Quantity</th>
      <td mat-cell *matCellDef="let item">{{item.partialQty}}</td>
    </ng-container>

    <ng-container matColumnDef="partialAmount">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Partial Amount</th>
      <td mat-cell *matCellDef="let item">{{item.partialAmount}}</td>
    </ng-container>

    <ng-container matColumnDef="senderSubId">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let item">{{item.senderSubId}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Order Cancellation</th>
      <td mat-cell *matCellDef="let item">
        <button *ngIf="item.status === 'CONFIRMED' || item.status === 'PARTIALLY_MATCHED'; else alreadyCancelled" color="primary" mat-raised-button type="button" (click)="cancelOrder(item)">
          CANCEL ORDER
        </button>
        <ng-template #alreadyCancelled>Can't be cancelled</ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
