<div>
  <div class="flex w-full h-full py-10 items-center justify-center">
    <div class="px-8 py-8 card" style="width: 350px;">
      <div>
        <div fxLayoutAlign="center center">
          <img src="assets/images/aix-logo.svg" alt="logo" style="width: 230px;">
        </div>
      </div>

      <form class="mt-8" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field fxFlex="100%">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field fxFlex="100%">
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field fxFlex="100%">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="form.get('newPassword').invalid">
              Required new password
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field fxFlex="100%">
            <mat-label>Confirm New Password</mat-label>
            <input matInput [formControl]="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="confirmPassword.invalid">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mt-4">
          <mat-error *ngIf="authError">
            {{ authError }}
          </mat-error>
        </div>

        <div class="mt-6 flex justify-center">
          <button mat-raised-button color="primary"
                  type="submit"
                  [disabled]="loading || form.invalid || confirmPassword.invalid"
                  [class.spinner]="loading">RESET</button>
        </div>
      </form>
    </div>
  </div>
</div>
