<div class="p-2 px-6 bg-white">
  <div class="w-full" fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="main-logo">
      <img class="ml-2" src="assets/images/aix-logo.svg" alt="logo">
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button *ngIf="username" color="primary" mat-raised-button type="button" style="cursor: default;" [disableRipple]="true">
        {{ username }} <span *ngIf="role">| {{ role }}</span>
      </button>

      <button color="primary" mat-raised-button type="button" (click)="saveToStorage()">
        <mat-icon>save</mat-icon>
      </button>

      <button color="primary" mat-raised-button type="button" (click)="addLayout()">
        <mat-icon>add</mat-icon>
      </button>

      <button color="primary" mat-raised-button type="button" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</div>

<div style="height: calc(100vh - 60px);">
  <div style="height: 100%;">
    <as-split direction="vertical" (dragEnd)="dragEndLayout($event)">
      <as-split-area *ngFor="let layout of layouts; let layoutIndex = index; trackBy: trackByFn" [size]="layout.size">
        <as-split direction="horizontal" unit="percent" (dragEnd)="dragEnd(layout.views, $event)">
          <as-split-area *ngFor="let view of layout.views; let i = index; trackBy: trackByFn" [size]="view.size">
            <app-choose-view
              [view]="view.name"
              (selectView)="selectView($event, layoutIndex, i)"
              (removeView)="removeView(layout.views, i)"
              (addView)="addView(layout.views)"
              [isFirmViewer]="isFirmViewer"
            >
            </app-choose-view>
          </as-split-area>

          <div *ngIf="layout && layout.views && layout.views.length === 0" fxFlex="100%">
            <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <button color="primary" mat-raised-button type="button" (click)="removeLayout(layoutIndex)">
                <mat-icon>close</mat-icon> REMOVE LAYOUT
              </button>
              <button color="primary" mat-raised-button type="button" (click)="addView(layout.views)">
                <mat-icon>add</mat-icon> ADD VIEW
              </button>
            </div>
          </div>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
</div>
